snippet t "A simple HTML tag" b
	<${1:div}>
		Hello World
	</${1/(\w+).*/$1/}>
endsnippet

snippet todo "This is a TODO" b
<!-- `echo $USER` TODO: ${1:desc} ${2:comment} `!v strftime("%c")` -->
endsnippet
