snippet ma
	margin: ${1:10px} ${2:20px};
	${3}
snippet ml
	margin-left: ${1:10px};
	${2}
snippet mr
	margin-right: ${1:10px};
	${2}
snippet mt
	margin-top: ${1:10px};
	${2}
snippet mb
	margin-bottom: ${1:10px};
	${2}
